img{
 width: 40%;
 height: 70%;   
 
 margin-left: 50px;
}

.form a{
    color: rgb(140, 140, 140);
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    align-items: center;
}

#formINIcio{
    width: 60%;
    height: 100vh;
    
    margin-right: 100px;
    padding: 45px;
 
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#registro{
    display: flex;
}

#formINIcio form{
    width: max-content;
    height: max-content;
    border: 1px solid rgb(228, 228, 228);
    padding: 40px;
}

#formINIcio form button{
 width: 100%;
 margin-top: 30px;

}


#formINIcio form p{
    
    padding: 20px;
}




 #formREgistro h2{
    text-align: center;
    margin-top: 5px;
}

